<div class="grey lighten-5">
    <div class="container">

        <div class="row">
            <form #projectform class="col s12 m12 l12" >
                <h4 class="teal-text text-lighten-3 center-text">Beginnen Sie Ihr Projekt</h4><br>
                <!-- Basic Contact information -->

                <div class="col s12 m6 l6">
                    <div class="input-field col s6">
                        <input required name="firstname" id="first_name" type="text" [(ngModel)]="model.firstname" [disabled]="frozen">
                        <label for="first_name">Vorname</label>
                        <i>{{ error.firstname }}</i>
                    </div>
                    <div class="input-field col s6">
                        <input required name="surname" id="sur_name" type="text" [(ngModel)]="model.surname" [disabled]="frozen">
                        <label for="sur_name">Nachname</label>
                        <i>{{ error.surname }}</i>
                    </div>

                    <div class="input-field col s12">
                        <input required name="email" id="email" type="email" [(ngModel)]="model.email" [disabled]="frozen">
                        <label for="email">E-Mail</label>
                        <i>{{ error.email }}</i>
                    </div>

                    <div class="input-field col s12">
                        <textarea required name="description" id="description" class="materialize-textarea" [(ngModel)]="model.description" [disabled]="frozen"></textarea>
                        <label for="description">Kurzbeschreibung des Projects</label>
                      <i>{{ error.description }}</i>
                    </div>

                </div>

                <!-- Individual Contact informations -->
                <div class="col s12 m6 l6">
                    Budget: {{model.budget}} Fr.
                    <nouislider name="budget" [connect]="[true, false]" [min]="500" [max]="100000" [step]="10" [(ngModel)]="model.budget" (ngModelChange)="onChange($event)" [disabled]="frozen"></nouislider>
                    Dauer: {{model.length}} Monat{{ model.length > 1 ? 'e' : '' }}
                    <nouislider name="length" [connect]="[true, false]" [min]="1" [max]="12" [step]="1" [(ngModel)]="model.length" (ngModelChange)="onChange($event)" [disabled]="frozen"></nouislider>
                </div>
                <button type="submit" class="waves-effect waves-light btn" (click)="send()" [disabled]="frozen" >
                  Senden
                </button>
            </form>
        </div>
    </div>
</div>
