<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/services" routerLinkActive="active">Dienstleistungen</a></li>
        <li><a href="collapsible.html">Technologien</a></li>
        <li><a routerLink="/about" routerLinkActive="active">Über uns</a></li>
        <li><a href="collapsible.html">Templates</a></li>
        <li><a href="collapsible.html">Über uns</a></li>
        <li><a href="collapsible.html">Kontakt</a></li>
      </ul>
    </div>
  </nav>