<div class="news">
    <div class="col s12 m12 l12">
        
        <!-- Image Section -->
        <div class="col s12 m6 l6">
            <img class="responsive-img" src="assets/images/desktopTabletMobile.jpg">
        </div>

        <!-- Product Description -->
        <div class="col s12 m6 l6">
            <div class="col s12">
                <h4 class="teal-text text-lighten-3">{{ project.title }}</h4>
                <table>
                    <tbody>
                        <tr>
                            <td>Typ:</td>
                            <td *ngIf="topic">{{ topic.title }}</td>
                        </tr>
                        <tr>
                            <td>Geräte:</td>
                            <td>
                                <i *ngFor="let device of devices" class="material-icons">
                                    {{ device.icon }}
                                </i>
                            </td>
                        </tr>
                        <tr>
                            <td>Technologien:</td>
                            <td>
                                <div class="chip" *ngFor="let t of tech">
                                    {{ t.label }}
                                </div>
                            </td>
                        </tr>
                        
                    </tbody>
                    
                </table>
                <p style="text-align: none !important;">{{ project.description }}</p>
            </div>
        </div>

    </div>
</div>