<div class="news">
    <div class="col s12 m12 l12">
        
        <!-- Image Section -->
        <div class="col s12 m6 l6">
            <img class="responsive-img" src="assets/images/desktopTabletMobile.jpg">
        </div>

        <!-- Product Description -->
        <div class="col s12 m6 l6">
            <div class="col s12">
                <h4 class="teal-text text-lighten-3">Produkttitel</h4>
                <table>
                    <tbody>
                        <tr>
                            <td>Typ:</td>
                            <td>Webapplikation</td>
                        </tr>
                        <tr>
                            <td>Geräte:</td>
                            <td>
                                <i class="material-icons">desktop_mac</i>
                                <i class="material-icons">tablet_mac</i>
                                <i class="material-icons">smartphone</i>
                            </td>
                        </tr>
                        <tr>
                            <td>Technologien:</td>
                            <td>
                                <div class="chip">
                                    Angular2
                                </div>
                                <div class="chip">
                                    Firebase
                                </div>
                            </td>
                        </tr>
                        
                    </tbody>
                    
                </table>
                <p style="text-align: none !important;">Eine kurze Beschreibung der App welche die Highlights hervorheben sollte. <br>Maximal sollte es 2-3 Sätze sein</p>
            </div>
        </div>

    </div>
</div>